<mat-toolbar color = "primary">
  <span><a routerLink = "/">Fake News Detector</a></span><span></span>
   <span class = "spacer "></span> <!--to seperate all the header elements to left or right -->
  <ul>
    <li *ngIf = "userIsAuthenticated">
      <a mat-button routerLink = "/picupload" routerLinkActive= "mat-accent" >Picture Upload</a>
    </li>
    <li *ngIf = "userIsAuthenticated">
      <a mat-button routerLink = "/vidupload" routerLinkActive= "mat-accent" >Video Upload</a>
    </li>
    <li *ngIf = "!userIsAuthenticated">
      <a mat-button routerLink ="/" routerLinkActive = "mat-accent">Login </a>
    </li>
    <li *ngIf = "!userIsAuthenticated">
      <a mat-button routerLink ="/" routerLinkActive = "mat-accent">Sign Up </a>
    </li>
    <li  *ngIf = "userIsAuthenticated">
      <button mat-button (click)= "onLogout()">Logout </button>
    </li>

  </ul>

</mat-toolbar>


